<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.TMAI.android.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" android:debuggable="true">
        <activity
            android:label="@string/app_name"
            android:name=".TosActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
        </activity><!--
        <activity
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:name=".TosActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        --><activity
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:name=".LocationActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

</manifest>